@import "nav.css";

main {
  /* justify-content: center; */
  margin-left: 150px;
  margin-top: 50px;

  display: grid;

  grid-template-columns: auto auto auto;
}

.movie {
  width: 300px;
  margin: 1rem;

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
}
